@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

section {
    min-height: 100vh;
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.nav-bar {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.d-flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.btn {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    background: #25DAC5;
    padding: 10px 18px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open {
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

.startup-3 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    letter-spacing: -0.2926828861236572px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.head {
    font-family: "DM Sans", sans-serif;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #1E0E62;
}

input {
    border-radius: 100px;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    border: 2px solid #ebeaed;
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 24px;
    max-width: 430px;
}

.btn-2 {
    color: #ffffff;
    background-color: #25DAC5;
    border-radius: 100px;
    border: none;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    max-width: 430px;
    padding: 17px;
    cursor: pointer;
    width: 100%;
    margin-top: 30px;
}

.end {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 17px;
    max-width: 430px;
    color: #a1a1b0;
}

iframe {
    border-radius: 10px;
}

.heading {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin-top: 30px;
    max-width: 470px;
    color: #a1a1b0;
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

.mb-24px {
    margin-bottom: 24px;
}

.dropdown {
    float: left;
}

.ul-1 {
    color: #a1a1b0;
    justify-content: space-between;
    display: flex;
    width: 100%;
    gap: 20px;
}

.ul-2 {
    align-items: center;
    display: flex;
    gap: 20px;
    padding-left: 30px;
}

.ul-3 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pricing {
    font-family: "DM Sans",sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: #a1a1b0;
}

.mt-10 {
    margin-top: 10px;
    margin-left: 5px;
}

.email {
    color: #a1a1b0;
    margin-top: 70px;
    width: 100%;
}

.password {
    color: #a1a1b0;
    margin-top: 30px;
    width: 100%;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.flex-grow {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-items: center;
}

.video {
    width: 100%;
    height: 265px;
}

@media (max-width:767.98px) {
    .open {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        background-color: lightblue;
        transition: all 200ms linear;
    }

    .flex {
        flex-direction: column;
    }

    label[for="openslider"] {
        width: 40px;
        height: 25px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    label[for="openslider"] span {
        width: 100%;
        height: 5px;
        right: 0%;
        background-color: black;
        border-radius: 3px;
        transition: all 200ms linear;
    }

    input:checked~.open {
        right: 0%;
    }


    input:checked~label[for="openslider"] span:first-child {
        transform: rotate(30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:last-child {
        transform: rotate(-30deg);
        transform-origin: left;
    }

    input:checked~label[for="openslider"] span:nth-child(2) {
        transform: translateX(-40px);
        opacity: 0;
        visibility: hidden;
    }

}

@media (min-width:992px) {
    .col-lg-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .end {
        max-width: 470px;
    }

    .mb-lg-0 {
        margin-bottom: 0;
    }

}